<h1> Listing Metas</h1>
<%=dynamic_search_for Meta%>
<table>
  <tr>
    <th>Klass</th>
    <th>Key</th>
    <th>Name</th>
    <th>Assoc</th>
    <th>Include</th>
    <th>Joins</th>
  </tr>

  <% for meta in @metas %>
    <tr>
      <td><%= h meta.klass.name %></td>
      <td><%= h meta.key %></td>
      <td><%= h meta.name %></td>
      <td><%= h meta.assoc_klass.name if meta.assoc_klass %></td>
      <td><%= h meta.include %></td>
      <td><%= h meta.joins %></td>
      <td><%= link_to 'Show', meta %></td>
      <td><%= link_to 'Edit', edit_meta_path(meta) %></td>
      <td><%= link_to 'Destroy', meta, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'New Meta', new_klass_meta_path(@klass) %></p>
