<dl>
  <dt>Klass</dt>
  <dd><%= h @meta.klass %></dd>
  <dt>Key</dt>
  <dd><%= h @meta.key %></dd>
  <dt>Name</dt>
  <dd><%= h @meta.name %></dd>
</dl>

<p>
  <%= link_to 'Edit', edit_meta_path(@meta)%>
  |
  <%= link_to 'Back', klass_metas_path(@meta.klass_id) %>
</p>
