<h1> Listing Limit groups of <%= @klass.name %>  </h1>
<div>
  <% for limit_group in @limit_groups %>
    <div>
      <%= '- - ' * limit_group.level  %>
      <%= h limit_group.logic %>
      <%= h limit_group.remark %> 
      <%= link_to '新建下级', new_klass_limit_group_path(@klass, :parent_id => limit_group) %>
      <%= link_to '定义', limit_group_limit_scopes_path(limit_group) %> 
      <%= link_to 'Show', limit_group %>
      <%= link_to '编辑', edit_limit_group_path(limit_group) %>
      <%= link_to '删除', limit_group, :confirm => 'Are you sure?', :method => :delete %>
      <div style="margin-left:60px;">
        <ul>
          <% limit_group.limit_scopes.each do |limit_scope|  %>
            <li> <%= limit_scope.to_inspect %> </li>
          <%end%>
        </ul>
      </div>
    </div>
  <% end %>
</div>
<p><%= link_to 'New Limit group', new_klass_limit_group_path %></p>
