<%form_for :bace_search, :url=>{:controller => controller_name, :action => action_name}, :html=>{:method=>:get} do |f|%>
    <% dynamic_searches.each do |dynamic_search| %>
  <span class="col_3">
    <%=f.hidden_field 'id', :value => dynamic_search.id, :name => 'bace_search[id][]' %>
  </span>
  <span class="col_2">
    <%= dynamic_search.name %>
  </span>
  <span class="col_1"><%=f.select 'value_meta_id', value_metas.map{|m|[m.name, m.id]}, {:include_blank => true}, :name => 'bace_search[meta][]' %></span><span>or</span>
  <span class="col_1">
    <%= value_meta_tag dynamic_search.target_meta_id, f, :name => 'bace_search[value][]'%>
  </span>
  <span class="clear"/>
    <% end %>
  <span> <%=f.submit('搜索')%> </span>
<%end%>

<%=link_to "自定义查询", dynamic_searches_path(:klass_id => klass.id, :resource_id => resource.id)%>