<style>
  div .table_like{clear:both;margin:10px}
  div .table_like span{float:left}
  .col_1{width:120px;}
  .col_2{width:140px;}
  .col_3{width:50px;}
  .op{width:160px;}
</style>
<h1> 定义动态查询条件 <%="(#{@klass.name})"%></h1>

<div class="table_like">
  <span class="col_3">Prefix</span>
  <span class="col_2">Key</span>
  <span class="col_1">Op</span>
  <span class="col_1">Value meta</span>
  <span class="col_1">Value</span>
  <span class="col_3">Suffix</span>
  <span class="op"></span>
</div>
<%for dynamic_search in @dynamic_searches%>
  <div class="table_like">
    <%form_for dynamic_search do |f|%>
      <%=render :partial => 'form', :locals =>{:f => f, :dynamic_search => dynamic_search}%>
      <span class="op">
        <%= f.submit 'Update'%>
        <%= link_to 'Destroy', dynamic_search, :confirm => 'Are you sure?', :method => :delete %>
      </span>
    <%end%>
  </div>
<%end%>

<div style="clear:both">or Add New:</div>
<%dynamic_search = DynamicSearch.new(:target_klass => @klass, :resource => @resource)%>
<div class="table_like">
  <%form_for dynamic_search do |f|%>
    <%=f.hidden_field :target_klass_id%>
    <%=f.hidden_field :resource_id%>
    <%=render :partial => 'form', :locals =>{:f => f, :dynamic_search => dynamic_search}%>
    <span class="op"><%= f.submit 'ADD'%></span>
  <%end%>
</div>
