<h1>New dynamic_search</h1>

<% form_for(@dynamic_search) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :resource_id %><br />
    <%= f.text_field :resource_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :target_klass_id %><br />
    <%= f.text_field :target_klass_id %>
  </p>
  <p>
    <%= f.label :target_meta_id %><br />
    <%= f.text_field :target_meta_id %>
  </p>
  <p>
    <%= f.label :op %><br />
    <%= f.text_field :op %>
  </p>
  <p>
    <%= f.label :value_meta_id %><br />
    <%= f.text_field :value_meta_id %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.label :readonly %><br />
    <%= f.check_box :readonly %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', dynamic_searches_path %>