<h1> Listing Users</h1>

<table>
  <tr>
    <th><%=meta_name :login_name%></th>
    <th><%=meta_name :password%></th>
    <th><%=meta_name :user_name%></th>
    <th><%=meta_name :email%></th>
    <th><%=meta_name :remark%></th>
    <th><%=meta_name :state_id%></th>
  </tr>

  <% for user in @users %>
  <tr>
    <td><%= h user.login_name %></td>
    <td><%= h user.password %></td>
    <td><%= h user.user_name %></td>
    <td><%= h user.email %></td>
    <td><%= h user.remark %></td>
    <td><%= h user.state_id %></td>
    <td><%= link_to '权限定义', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
</table>
<%=will_paginate @users%>
<p><%= link_to 'New User', new_user_path %></p>
