<h1> Listing Users</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Password</th>
    <th>Name</th>
    <th>Email</th>
    <th>Remark</th>
    <th>State</th>
  </tr>

  <% for user in @users %>
  <tr>
    <td><%= h user.login_name %></td>
    <td><%= h user.password %></td>
    <td><%= h user.user_name %></td>
    <td><%= h user.email %></td>
    <td><%= h user.remark %></td>
    <td><%= h user.state_id %></td>
    <td><%= link_to '权限定义', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
</table>
<%=will_paginate @users%>
<p><%= link_to 'New User', new_user_path %></p>
