<h1>New User</h1>

<% form_for(@user) do |form| %>
  <%= form.error_messages %>
  <dl>
    <dt><%= form.label :login_name %></dt>
    <dd><%= form.text_field :login_name %></dd>
    <dt><%= form.label :new_password %></dt>
    <dd><%= form.text_field :new_password %></dd>
    <dt><%= form.label :user_name %></dt>
    <dd><%= form.text_field :user_name %></dd>
    <dt><%= form.label :email %></dt>
    <dd><%= form.text_field :email %></dd>
    <dt><%= form.label :remark %></dt>
    <dd><%= form.text_field :remark %></dd>
    <dt><%= form.label :state_id %></dt>
    <dd><%= form.text_field :state_id %></dd>
  </dl>
  <p><%= form.submit 'Create' %></p>
<% end %>

<p><%= link_to 'Back', users_path %></p>
