<h1>用户<%=@user.name%>权限定义</h1>
<div id="user_permissions">
  <%@permissions.each do |permission|%>
    <%user_has_permission = @user.has_permission?(permission)%>
    <div><%=' -' * permission.level%><%=permission.name%>(<%=user_has_permission%>)</div>
    <%if user_has_permission%>
      <div>
        功能权限：
        <%@roles.each do |role|%>
          <%=role.name%>: [ 直接权限: <%=permission.granted_to_role?(role)%>; 继承权限: <%=role.self_has_permission?(permission)%> ]
        <%end%>
      </div>
      <div>
        <div>
        </div>
        数据权限：<br/>
        <%permission.klasses.each do |klass|%>
          <strong><%=klass.name%></strong><br/>
          <%user_klass_scope = @user.scopes_for_permission(klass, permission)%>
          <%=LimitGroup.full_inspects user_klass_scope%><br/>
          <%user_klass_scope.flatten.compact.each do |scope|%>
            <%=scope.to_inspect%> [ 角色:<%=scope.role.name%>; 功能:<%=scope.permission.name%> ]<br/>
          <%end%>
        <%end%>
      </div>
    <%end%>
  <%end%>
</div>
<p>
  <%= link_to 'Edit', edit_user_path(@user)%>
  |
  <%= link_to 'Back', users_path %>
</p>
