<h1> Listing Permissions</h1>

<table>
  <tr>
    <th><%=meta_name :name%></th>
    <th><%=meta_name :remark%></th>
    <th><%=meta_name :public%></th>
    <th>无访问限制</th>
    <th><%=meta_name :free%></th>
    <th>无数据限制</th>
  </tr>

  <% for permission in @permissions %>
  <tr>
    <td><%= '- - ' * permission.level %><%=  permission.name %></td>
    <td><%= h permission.remark %></td>
    <td><%= h permission.public %></td>
    <td><%= h permission.can_public? %></td>
    <td><%= h permission.free %></td>
    <td><%= h permission.can_free? %></td>

    <td><%= link_to 'Klasses', edit_klasses_permission_path(permission) %>(<%=permission.klasses.map(&:name).join(',')%>)</td>
    <td><%= link_to 'Show', permission %></td>
    <td><%= link_to 'Edit', edit_permission_path(permission) %></td>
    <td><%= link_to 'Destroy', permission, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
</table>
<%=will_paginate @permissions%>
<p><%= link_to 'New Permission', new_permission_path %></p>
