<h1> Listing Limit scopes</h1>

<table>
  <tr>
    <th>Prefix</th>
    <th>Key</th>
    <th>Op</th>
    <th>Value meta</th>
    <th>Value</th>
    <th>Suffix</th>
    <th>Logic</th>
    <th></th>
  </tr>

  <% for limit_scope in @limit_scopes %>
    <%form_for limit_scope do |f|%>
  <tr>
    <%=render :partial => 'form', :locals =>{:f => f}%>
    <td><%= f.submit 'Update'%></td>
    <td><%= link_to 'Destroy', limit_scope, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>

  <%end%>
  <% end %>

<%form_for LimitScope.new(:role => @role, :permission => @permission) do |f|%>
  <tr>
    <%=render :partial => 'form', :locals =>{:f => f}%>
    <td><%= f.submit 'ADD'%></td>
  </tr>
<%end%>
</table>