<dl>
  <dt>Role</dt>
  <dd><%= h @limit_scope.role_id %></dd>
  <dt>Permission</dt>
  <dd><%= h @limit_scope.permission_id %></dd>
  <dt>Key</dt>
  <dd><%= h @limit_scope.key_id %></dd>
  <dt>Prefix</dt>
  <dd><%= h @limit_scope.prefix %></dd>
  <dt>Op</dt>
  <dd><%= h @limit_scope.op %></dd>
  <dt>Value meta</dt>
  <dd><%= h @limit_scope.value_meta_id %></dd>
  <dt>Value</dt>
  <dd><%= h @limit_scope.value %></dd>
  <dt>Suffix</dt>
  <dd><%= h @limit_scope.suffix %></dd>
  <dt>Logic</dt>
  <dd><%= h @limit_scope.logic %></dd>
  <dt>Position</dt>
  <dd><%= h @limit_scope.position %></dd>
</dl>

<p>
  <%= link_to 'Edit', edit_limit_scope_path(@limit_scope)%>
  |
  <%= link_to 'Back', limit_scopes_path %>
</p>
