<h1> Listing Resources</h1>
<%= dynamic_search_for Resource %>
<table>
  <tr>
    <th><%=meta_name :name%></th>
    <th><%=meta_name :controller%></th>
    <th><%=meta_name :action%></th>
    <th><%=meta_name :permission_id%></th>
    <th><%=meta_name :public%></th>
    <th><%=meta_name :free%></th>
  </tr>

  <% for resource in @resources %>
  <tr>
    <td><%= h resource.name %></td>
    <td><%= h resource.controller %></td>
    <td><%= h resource.action %></td>
    <td><%= h resource.permission.name if resource.permission%></td>
    <td><%= h resource.public? %></td>
    <td><%= h resource.free? %></td>
    <td><%= link_to 'Show', resource %></td>
    <td><%= link_to 'Edit', edit_resource_path(resource) if current_user.can_edit_resources_with?(resource)%></td>
    <td><%= link_to 'Destroy', resource, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
</table>
<%=will_paginate @resources%>
<p><%= link_to 'New Resource', new_resource_path %></p>
